<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.0" targetFramework="net461" />
  <package id="DnsClient" version="1.0.7" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc.Localization" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc.Razor" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc.RazorPages" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc.TagHelpers" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Razor.Design" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net461" />
  <package id="mongocsharpdriver" version="2.7.3" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.3" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.3" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.3" targetFramework="net461" />
  <package id="MongoDB.Repository.Crud" version="2.7.6" targetFramework="net461" />
  <package id="OrchardCore.DisplayManagement" version="1.0.0-beta2-67846" targetFramework="net461" />
  <package id="OrchardCore.Mvc.Abstractions" version="1.0.0-beta2-67846" targetFramework="net461" />
  <package id="OrchardCore.Mvc.Core" version="1.0.0-beta2-67846" targetFramework="net461" />
  <package id="Shipwreck.Phash" version="0.3.0" targetFramework="net461" />
  <package id="Shipwreck.Phash.PresentationCore" version="0.3.0" targetFramework="net461" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net461" />
</packages>