<!DOCTYPE html>
<html ng-app="test1">
<head>
    <title>n</title>

    <script src="~/Libaries/angular.min.js"></script>
    <script src="~/Scripts/Controllers/Model.js"></script>
</head>
<body>
    <div ng-controller="siteCtrl">
        {{GetListSite}}
    </div>
</body>
</html>
