<html ng-app="test">
@model SiteMapTask.Models.SiteModel
<head>
    <title></title>
    <script src="~/Libaries/angular.js"></script>
    <script src="~/Scripts/Controllers/testCtrl.js"></script>
    <script>
        var model = {
            default: "Пока в поле пусто"
        };
    </script>
</head>
<body ng-controller="testCtrl">

    <h1>{{message}}</h1>
    @using (Html.BeginForm())
    {
        <p>
            Введите URL:
            @Html.TextBoxFor(model => model.Url, new { style = "width: 400px;", placeholder = "Введите URL" })
            <button type="submit" class="btn btn-success" ng-click="Add()">Добавить</button>
        </p>
    }

    <button class="btn-block">
        @Html.ActionLink("Просмотреть результаты", "In")
    </button>
</body>
</html>