<html ng-app="test">
@model SiteMapTask.Models.SiteModel
<head>
    <title></title>
    <script src="~/Libaries/angular.js"></script>
    <script src="~/Scripts/Controllers/testCtrl.js"></script>
    <script>
        var model = {
            default: "Пока в поле пусто",
            url: [{ name: "google.com", timeNow: "-", timeMin: "-", timeMax: "-" }]
        };
    </script>
</head>
<body ng-controller="testCtrl">

    <h1>{{message}}</h1>
    @using (Html.BeginForm())
    {
        <p>
            Введите URL:
            @Html.TextBoxFor(model => model.Url, new { style = "width: 400px;", placeholder = "Введите URL" })
            <button class="btn btn-success" ng-click="Add()">Добавить</button>
        </p>
    }
    <p>
        Таблица
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width: 600px;">
        <thead align="center">
            <tr bgcolor="#F0FFF0">
                <td>
                    Site
                </td>
                <td>
                    Now
                </td>
                <td>
                    MIN
                </td>
                <td>
                    MAX
                </td>
            </tr>
        </thead>
        <tbody align="center">
            <tr ng-repeat="item in data.url">
                <td>{{item.name}} </td>
                <td>{{item.timeNow}} </td>
                <td>{{item.timeMin}} </td>
                <td>{{item.timeMax}} </td>
            </tr>
        </tbody>
    </table>

</body>
</html>